<h1>Chat</h1>
<hr>

<div class="app-mensajes"
    id="app-mensajes">
    <div [ngClass]="{'text-right': chatService.usuario.uid === chat.uid}"
        *ngFor="let chat of chatService.chats">
        <span class="badge "
            [ngClass]="{'badge-primary': chatService.usuario.uid === chat.uid,
                    'badge-success': chatService.usuario.uid !== chat.uid}">{{chat.nombre}}</span>
        <p>
            {{chat.mensaje}}
        </p>
    </div>
    <!-- <div class="text-right">
        <span class="badge badge-primary">David</span>
        <p>
            Este es un mensaje de chat
        </p>
    </div>
    <div>
        <span class="badge badge-success">María</span>
        <p>
            Hola David
        </p>
    </div> -->
</div>

<input type="text"
    class="form-control"
    name="mensaje"
    [(ngModel)]="mensaje"
    (keyup.enter)="enviarMensaje()"
    placeholder="Enviar mensaje">