<!-- <ul>
  <li class="text"
    *ngFor="let chat of chats | async">
    {{chat.mensaje}}
  </li>
</ul> -->


<div class="container main-container">
  <h1>Firechat</h1>

  <div class="col-md-12 text-right"
    *ngIf="tieneUsuarioLogado">
    <button type="button"
      class="btn btn-outline-danger"
      (click)="chatService.logout()">
      Salir
    </button>
  </div>
  <div class="chat-window"
    *ngIf="tieneUsuarioLogado">
    <app-chat></app-chat>

  </div>

  <app-login *ngIf="!tieneUsuarioLogado"></app-login>
</div>